:root {
  --nav-bar: #004882;
}

* {
  margin: 0;
  padding: 0;

}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: 0px;
  height: auto;
  display: flex;
  flex-direction: column;
}

body::-webkit-scrollbar {
  display: none;
}



header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
}

nav {
  width: 100%;
  height: 10vh;
  background-color: var(--nav-bar);
  /* #315cfd */

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-title {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;

}

.nav-title a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.nav-title a:hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}



.nav-title span {
  font-size: 1rem;
  font-weight: bold;
  color: white;

}

nav ul {
  float: right;
  margin-right: 2rem;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: #ebeff2;
  padding: 1rem 3rem;
  font-weight: bold;
  font-size: 1rem;
}

nav a:hover {
  background-color: #ffffff32;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  right: 0;
  top: 3rem;
  overflow-wrap: break-word;
  background-color: #1B3D59;
  width: 200%;
  z-index: 1;
  line-height: 2rem;
  transform: scaleY(0);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s;
  transform-origin: top;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #ffffff44;
}


.dropdown:hover .dropdown-content {
  transform: scaleY(1);
  opacity: 1;
  visibility: visible;
}



@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

main {
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  height: auto;

}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:
    url(img/background6.jpeg) no-repeat center center;
    background-size: 130% 130%;

  min-height: 90vh;
}

.sobre {
  width: 80%;
  min-height: 80vh;
  margin: auto;
  text-align: justify;
  text-justify: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #00000032;
  padding: 0 4rem;
  border-radius: 2rem;

}

.sobre h1 {
  color: white;
  text-align: center;
  font-size: 5rem;
}

.sobre p {
  color: white;
  font-weight: bolder;
  font-size: 1.5rem;
}

.mainbtn button {
  width: 16rem;
  height: 4rem;
  border: 0.2rem solid #315cfd;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 1.5rem;
  font-weight: 550;
  font-family: "Montserrat", sans-serif;
}

.mainbtn button:hover {
  background: #315cfd;
  color: white;
  font-size: 1.6rem;
}

.mainbtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.simsarea {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.simsarea h1 {
  text-align: center;
  font-size: 3rem;
  margin: 2rem 0;
}

.sims {
  max-width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
  text-align: center;
}

.sims img {
  display: flex;
  width: 100%;
  max-width: 16rem;
  border-radius: 1rem;
  transition: transform 0.5s ease;
}

.sims img:hover {
  transform: scale(1.05);
}

.sims h3 {
  margin: 0;
  margin-bottom: 2%;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

.sims a {
  text-decoration: none;
}

.btn-2 {
  background-color: #315cfd;
  padding: 0.3rem 2.2rem;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  min-width: 300px;
  min-height: 40px;
}

.conteudo {
  width: 80%;
  min-height: 90vh;
  text-align: justify;
  text-justify: auto;
  overflow-wrap: break-word;
  font-size: 1.5rem;
}

.conteudo h1 {
  text-align: center;
  font-size: 3rem;
  margin: 3rem;
}

.conteudo h2 {
  text-align: left;
  font-size: 2rem;
  margin: 2rem 0;
}

.conteudo p {
  margin: 2rem 0;
}

.imggrav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.imggrav img {
  max-width: 80%;
  margin-top: 30px;
}

.imggrav p {
  flex-wrap: wrap;
}

#imgwaves {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

/* Style the container */
.container-curiosidades {
  width: 80%;
  margin: 2rem auto;
}

/* Style the button */
.curiosidades-titulo {
  width: 100%;
  padding: 2rem;
  background-color: var(--nav-bar);
  color: white;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  text-align: left;
  padding-left: 2rem;
  border-radius: 1rem;
}


/* Add some transition for smooth expand/collapse */
.curiosidades-conteudo {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  
  background-color: #f5f5f5;
  border-radius: 1rem;
}

/* Optional styling for the content */
.curiosidades-conteudo p {
  padding: 2rem 3rem;
  background-color: #f5f5f5;
  margin: 0;
  font-size: 1rem;
}


.canvas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 30px;
  margin-bottom: 50px;
}

#cnv {
  border: 1px solid black;
  background: linear-gradient(to top, #ffa732 0%, #75caff 40%);
}

#sim_mares {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sim_mares p {
  flex-wrap: wrap;
}

footer {
  background-color: var(--nav-bar);
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  font-weight: bold;
}

/*

@media screen and (max-aspect-ratio: 1/1) {
  .wrapper {
    min-height: 47rem;
  }
  canvas {
    max-width: 90%;
  }
  #sim_mares iframe {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 1100px;
    width: 90%;
  }
}

*/